/*
Creator: Dragon Prince
Date: 23.10.2011
Time: 08:02 PM
*/



#move 
{
background:url(../images/background.png) repeat 5% 5%;
//background-repeat:repeat-y;
position: absolute;
top: 0; left: 0; right: 0; bottom: 0;
z-index: 100;
}

#move2 
{
background:url(../images/midground.png);
background-repeat:repeat-y;
position: absolute;
top: 0; left: 0; right: 0; bottom: 0;
z-index: 100;
}

#move3 
{
background:url(../images/foreground.png) ;
background-repeat:repeat-y;
position: absolute;
top: 0; left: 0; right: 0; bottom: 0;
z-index: 100;
}

canvas 
{
display:block;
margin:0px auto 0;
background:none;
}



